*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.idea
.kotlin
/androidApp/build/
/androidApp/build/intermediates/
/androidApp/build/kotlin/
/androidApp/build/outputs/
/androidApp/build/tmp/
/shared/build/
